<a href="https://colab.research.google.com/github/Marc86316/DataCamp/blob/main/Exploratory_Data_Analysis_in_Python/Turning_Exploratory_Analysis_into_Action.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Turning Exploratory Analysis into Action**

Exploratory data analysis is a crucial step in the data science workflow, but it isn't the end! Now it's time to learn techniques and considerations you can use to successfully move forward with your projects after you've finished exploring!

In [4]:
import pandas as pd
import numpy as np

ds_salaries_clean_url = 'https://raw.githubusercontent.com/Marc86316/DataCamp/refs/heads/main/dataset/Exploratory_Data_Analysis_in_Python/ds_salaries_clean.csv'
salaries = pd.read_csv(ds_salaries_clean_url)
salaries.head(10)

,Working_Year,Designation,Experience,Employment_Status,Employee_Location,Company_Size,Remote_Working_Ratio,Salary_USD
0,2020,Data Scientist,Mid,FT,DE,L,0,76227.0
1,2020,Machine Learning Scientist,Senior,FT,JP,S,0,248257.0
2,2020,Big Data Engineer,Senior,FT,GB,M,50,104100.0
3,2020,Product Data Analyst,Mid,FT,HN,S,0,19097.0
4,2020,Machine Learning Engineer,Senior,FT,US,L,50,143225.0
5,2020,Data Analyst,Entry,FT,US,L,100,68748.0
6,2020,Lead Data Scientist,Senior,FT,US,S,100,181418.0
7,2020,Data Scientist,Mid,FT,HU,L,50,34121.0
8,2020,Business Data Analyst,Mid,FT,US,L,100,128903.0
9,2020,Lead Data Engineer,Senior,FT,NZ,S,50,119354.0

The [2022 Kaggle Survey](https://www.kaggle.com/kaggle-survey-2022) captures information about data scientists' backgrounds, preferred technologies, and techniques. It is seen as an accurate view of what is happening in data science based on the volume and profile of responders.

Having looked at the job titles and categorized to align with our `salaries` DataFrame, you can see the following proportion of job categories in the Kaggle survey:

| Job Category       | Relative Frequency |
|--------------------|-------------------|
| Data Science      | 0.281236           |
| Data Analytics    | 0.224231           |
| Other            | 0.214609           |
| Managerial       | 0.121300           |
| Machine Learning | 0.083248           |
| Data Engineering | 0.075375           |

Thinking of the Kaggle survey results as the population, your task is to find out whether the `salaries` DataFrame is representative by comparing the relative frequency of job categories.

**Instructions**

Print the relative frequency of the `"Job_Category"` column from `salaries` DataFrame.

In [2]:
# Print the relative frequency of Job_Category
print(salaries['Job_Category'])

KeyError: 'Job_Category'

Fantastic relative frequency calculation! It looks like Data Science is the most popular class and has a similar representation. Still, the other categories have quite different relative frequencies, which might not be surprising given the target audience is data scientists! Given the difference in relative frequencies, can you trust the `salaries` DataFrame to accurately represent Managerial roles?